<div id="index-banner" class="parallax-container">
<div class="section no-pad-bot">
  <div class="container">
    <h2 class="header center teal-text text-lighten-2 margin-slider">Estudias y ¿necesitas empleo?</h2>
    <div class="row center">
      <h5 class="header col s12 light">En DoItFast tenemos vacantes para tí!</h5>
    </div>
    <div class="row center">
      <%= link_to "Ver Vacantes", inicio_vacante_path, {class: "btn-large waves-effect waves-light teal lighten-1", id: "download-button"} %>
      <!--<a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Ver Vacantes</a>-->
    </div>
    <br><br>

  </div>
</div>
<div class="parallax"><%= image_tag("entrevista.jpg", :alt => "Unsplashed background img 1") %></div>
</div>


<div class="container">
<div class="section">

  <!--   Icon Section   -->
  <div class="row">
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
        <h5 class="center">Encuentra un trabajo para tí</h5>
        <p class="light">En DoItFast puedes ofertar las mejores empresas con trabajos especiales para estudiantes de ingeniería.</p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center brown-text"><i class="material-icons">group</i></h2>
        <h5 class="center">Aplica para el trabajo deseado</h5>

        <p class="light">En cada solicitud de empleo puedes aplicar para el trabajo y las empresas a las que apliques podrán ver parte de tu información.</p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
        <h5 class="center">Espera mientras te llaman</h5>

        <p class="light">Si la empresa se interesa en tu solicitud, se pondrán en contacto contigo para poder dar seguimiento a tu solicitud.</p>
      </div>
    </div>
  </div>

</div>
</div>

<div class="parallax-container valign-wrapper">
<div class="section no-pad-bot">
  <div class="container">
    <div class="row center">
      <h5 class="header col s12 light">Para tener éxito, tus deseos de triunfar deberían ser más grandes que tu miedo de fracasar.</h5>
    </div>
  </div>
</div>
<div class="parallax"><%= image_tag("background3.jpg", :alt => "Unsplashed background img 3") %></div>
</div>