%nav.top-nav.center.header.header-height 
	%a.page-title.font-35{:href => ""} Las mejores vacantes para estudiantes!
.wrapper
	.vacantes__flex
		- @vacante.each do |v|
			.card
				.card-image.waves-effect.waves-block.waves-light
					=image_tag "office.jpg", class: "activator"
				.card-content
					%h6 Categoría
					%span.card-title.activator.grey-text.text-darken-4
						=v.category
					%br
					%span.card-title.activator.grey-text.text-darken-4
						=v.title
						%i.material-icons.right
							more_vert
					%p.datos
						=v.address
					%h5 Sueldo
					%p.datos
						=v.salary
					%h5 Horario
					%p.datos
						=v.schedule
					%p
						%a{:href => ""} Aplicar para el trabajo
				.card-reveal
					%span.card-title.grey-text.text-darken-4 
						%i.material-icons.right close
						%h5 Requisitos
						%p.datos.tarjeta-atras
							= v.requirements
						%h5 Beneficios
						%p.datos.tarjeta-atras
							= v.benefits
						%h5 Descripción
						%p.datos.tarjeta-atras
							= v.description