nav ul a,
nav .brand-logo {
  color: #444;
}
p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.margin-slider{
  margin-top: 1rem !important;
}
@media only screen and (min-width : 992px) {
  .margin-slider{
    margin-top: 5rem !important;
  }
}

footer.page-footer {
  margin: 0;
}

/* ========= Estilos personales ======== */
body{
  background: #fcfcfc;
}
.datos{
  line-height: 1rem !important;
  margin-bottom: 0.5rem !important;
}
.font-35{
  font-size: 35px;
}
.tarjeta-atras{
  font-size: 12px;
}
.wrapper{
  max-width: 1080px;
  width: 80%;
  margin: 0 auto;
}
.vacantes__flex{
  padding-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width : 992px) {
  .card{
    width: 32% !important;
  }
}
@media only screen and (min-width : 600px) {
  .card{
    width: 48%;
  }
}
@media only screen and (max-width : 650px) {
  .header-height {
    height: 125px;
  }
}